h1,
h2 {
    font-size: 50px;
    font-weight: 400;
    color: white;
}

h2{
    padding-left: 20px;;
}

.btn-primary,
.btn-primary:focus,
.dropdown.show,
.dropdown-toggle a:hover a:active
{ 
    color: black;
    background-color: #fff;
    border-color: lightgray;
}
